<header class="header nav-fixed-to clearfix">
    <section class="header-left">
        <a href="javascript:;">
            <img src="../static/images/logo-icon.png" alt="">
        </a>
    </section>
    <section class="header-content">
        <div class="header-tips" style="">
            <i class="iconfont icon-caidan"></i>
        </div>
        <div class="header-content-main clearfix">
            <p><i class="iconfont icon-kalendar"></i><span id="date_now"></span></p>
            <p><i class="iconfont icon-shijian"></i> <span id="hour_now"></span></p>
            <p>
                <span id="weather_now">
                    <u></u>
                    <i class="iconfont icon-location"></i>
                    <u></u>
                    <i class="iconfont icon-yun"></i>
                    <u></u>
                    <i class="iconfont icon-iconset0480"></i>
                    <u></u>
                    <i class="iconfont icon-weathercock"></i>&nbsp;
                    <u></u>
                </span>
            </p>
            <p class="weather-city-search"></p>
        </div>
    </section>
    <section class="header-right">
        <div class="oneself-set">
            <img width="44" height="44" style="border-radius: 50%;border: 1px dotted #ccc;"
                 src="{{avatar_url}}" alt="">
            <div>
                <b class="user_name_icon" style="" id="user-info" data-role="{{ role }}"
                   data-user-name="{{ user_name }}" data-avatar-url="{{ avatar_url }}" data-locations="{{ locations }}" data-account="{{ account }}">Hi,{{
                    user_name }}</b>
                <span id="show_hide" style="cursor:pointer;color: #fff;" class="layui-icon">&#xe61a;</span>
                <ul class="dropdown-menu" style="display:none;">
                    <li><a href="/password/"><i class="iconfont icon-shezhi1"></i> <span
                            style="border-left: 1px dashed #ccc;padding-left: 5px;">修改密码</span></a></li>
                    <li class="loginOut"><a href="#"><i class="iconfont icon-secede"></i> <span
                            style="border-left: 1px dashed #ccc; padding-left: 5px;">退出登陆</span></a></li>
                </ul>
                <div class="message-center">
                    <i class="iconfont icon-xiaoxi1"></i><b class="layui-badge" style="display: none;">..</b>
                    <ul>
                        <p class="message-count-show" >....</p>
                        <li onclick="goTo()"><i class="iconfont icon-xiaolian-"></i>&nbsp; 浏览所有相关信息 </li>
                    </ul>
                </div>
                <span id="project_introduce" class="layui-btn layui-btn-sm"
                      style="background: none;border: 1px dashed #009688;color: #fff;"><i
                        class="layui-icon ">&#xe62e;</i><a style="color: #fff" target="_blank" href="/introduce/">统计中心介绍</a></span>
            </div>
        </div>
    </section>
</header>
<style>
    .message-center > ul {
        display: none;
    }
</style>
<script>
    function goTo(){
        window.location.href='/message/'
    }
</script>
<div class="bottom_tools">
    <a id="scrollUp" href="javascript:;" title="飞回顶部"><i class="layui-icon layui-icon-top">&#xe604;</i></a>
</div>
