<header class="header nav-fixed-to clearfix">
    <section class="header-left">
        <a href="javascript:;">
            <img src="../static/images/logo-icon.png" alt="">
        </a>
    </section>
    <section class="header-content">
        <div class="header-tips" style="">
            <i class="iconfont icon-caidan"></i>
        </div>
        <div class="header-content-main clearfix">
            <p><i class="iconfont icon-kalendar"></i><span id="date_now"></span></p>
            <p><i class="iconfont icon-shijian"></i> <span id="hour_now"></span></p>
            <p>
                <span id="weather_now">
                    <u></u>
                    <i class="iconfont icon-location"></i>
                    <u></u>
                    <i class="iconfont icon-yun"></i>
                    <u></u>
                    <i class="iconfont icon-iconset0480"></i>
                    <u></u>
                    <i class="iconfont icon-weathercock"></i>&nbsp;
                    <u></u>
                </span>
            </p>
            <p class="weather-city-search"></p>
        </div>
    </section>
    <section class="header-right">
        <div class="oneself-set">
            <img width="38" height="38" style="border-radius: 50%;border: 1px dotted #ccc;"
                 src="{{ avatar_url }}" alt="">
            <div>
                <b class="user_name_icon" style="" id="user-info" data-role="{{ role }}"
                   data-user-name="{{ user_name }}" data-avatar-url="{{ avatar_url }}" data-locations="{{ locations }}"
                   data-account="{{ account }}">Hi,{{ user_name }}</b>
                <div class="role-change-box">
                    <ol class="layui-nav" lay-filter="header">
                        <li class="layui-nav-item">
                            <a href="javascript:;">切换角色</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                            </dl>
                        </li>
                    </ol>
                </div>
                <ol class="layui-nav" lay-filter="">
                    <li class="layui-nav-item">
                        <a href="javascript:;">退出登陆</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="/password/"><span>修改密码</span></a>
                            </dd>
                            <dd class="loginOut">
                                <a href="#"><span>退出登陆</span></a>
                            </dd>
                        </dl>
                    </li>
                </ol>
                <div class="message-center">
                    <i class="iconfont icon-xiaoxi1"></i><b class="layui-badge" style="display: none;">..</b>
                    <ul>
                        <p class="message-count-show">....</p>
                        <li onclick="goTo()"><i class="iconfont icon-xiaolian-"></i>&nbsp; 浏览所有相关信息</li>
                    </ul>
                </div>
                <span id="project_introduce" class="layui-btn layui-btn-sm"
                      style="background: none;border: 1px dashed #009688;color: #fff;"><i
                        class="layui-icon ">&#xe62e;</i><a style="color: #fff" target="_blank"
                                                           href="/introduce/">统计中心介绍</a>
                </span>
            </div>
        </div>
    </section>
</header>
<style>
    .message-center > ul {
        display: none;
    }

    @media screen and (max-width: 1600px) {
        #project_introduce {
            display: none;
        }
    }

    .header .layui-nav {
        display: inline-block;
        background: none;
        padding: 0;
        height: 100%;
    }

    .header .layui-nav-child {
        top: 48px;
        background: #fff;
    }

    .header .layui-nav .layui-nav-item a {
        line-height: 42px;
    }
</style>
<script>
    function goTo() {
        window.location.href = '/message/'
    }
</script>
<div class="introduce_tools">
    <a target="_blank" href="/introduce/"><span>统</span><span>计</span><span>中</span><span>心</span><span>介</span><span>绍</span></a>
</div>
<div class="bottom_tools">
    <a id="scrollUp" href="javascript:;" title="飞回顶部"><i class="layui-icon layui-icon-top">&#xe604;</i></a>
</div>
