<header class="header nav-fixed-to clearfix">
        <section class="header-left">
            <a href="javascript:;">
                <img src="../static/images/logo-icon.png" alt="">
            </a>
        </section>
        <section class="header-content">
            <div class="header-tips" style="margin-right: 6px;"></div>
            <div class="header-content-main clearfix">
                <p><i class="iconfont icon-kalendar"></i><span id="date_now"></span></p>
                <p><i class="iconfont icon-shijian"></i> <span id="hour_now"></span></p>
                <p><span id="weather_now"><u></u><i class="iconfont icon-yun">&nbsp;</i><u></u><i
                        class="iconfont icon-iconset0480">&nbsp;</i><u></u><i class="iconfont icon-weathercock"></i>&nbsp;<u></u></span>
                </p>
            </div>
        </section>
        <section class="header-right">
            <div class="oneself-set">
                <img width="52" height="52" style="border-radius: 50%;border: 1px dotted #ccc;"
                     src="{{avatar_url}}" alt="">
                <div>
                    <b style="display: inline-block;margin-top:12px;margin-right:6px;color: #fff;">Hi,{{user_name}}</b>
                    <span id="show_hide" style="cursor:pointer;color: #fff;" class="layui-icon">&#xe61a;</span>
                    <ul class="dropdown-menu" style="display:none;">
                        <li><a href="/password/"><i class="iconfont icon-shezhi1"></i> <span
                                style="border-left: 1px dashed #ccc;padding-left: 5px;">修改密码</span></a></li>
                        <li class="loginOut"><a href="#"><i class="iconfont icon-secede"></i> <span
                                style="border-left: 1px dashed #ccc; padding-left: 5px;">退出登陆</span></a></li>
                    </ul>
                    <span id="project_introduce" class="layui-btn"
                          style="background: none;border: 1px dashed #01AAED;color: #fff;"><i class="layui-icon">&#xe62e;</i><strong>项目介绍</strong></span>
                </div>
            </div>
        </section>
    </header>