<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活跃留存</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/password/password.css">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    <header class="header nav-fixed-to clearfix">
        <section class="header-left">
            <a href="javascript:;">
                <img src="../static/images/Test/logo-icon.png" alt="">
            </a>
        </section>
        <section class="header-content">
            <div class="header-tips" style="margin-right: 6px;"></div>
            <div class="header-content-main clearfix">
                <p><i class="iconfont icon-rili"></i><span id="date_now"></span></p>
                <p><i class="iconfont icon-shijian"></i> <span id="hour_now"></span></p>
                <p><i class="iconfont icon-weathercock"></i><span id="weather_now"><u></u><u></u><u></u><u></u></span>
                </p>
            </div>
        </section>
        <section class="header-right">
            <div class="oneself-set">
                <img width="52" height="52" style="border-radius: 50%;border: 1px dotted #ccc;"
                     src="../static/images/Test/head-icon.gif" alt="">
                <div>
                    <b style="display: inline-block;margin-top:12px;margin-right:6px;color: #fff;">Hi,超级管理员</b>
                    <span id="show_hide" style="cursor:pointer;color: #fff;" class="layui-icon">&#xe61a;</span>
                    <ul class="dropdown-menu" style="display:none;">
                        <li><a href="#"><i class="iconfont icon-shezhi1"></i> <span
                                style="border-left: 1px dashed #ccc;padding-left: 5px;">修改密码</span></a></li>
                        <li class="loginOut"><a href="#"><i class="iconfont icon-secede"></i> <span
                                style="border-left: 1px dashed #ccc; padding-left: 5px;">退出登陆</span></a></li>
                    </ul>
                    <span id="fullScreen" class="layui-btn"
                          style="background: none;border: 1px dashed #01AAED;color: #fff;"><i class="layui-icon">&#xe62e;</i><strong>开启全屏展示</strong></span>
                </div>
            </div>
        </section>
    </header>
    <article class="main-content">
        <nav class="main-content-left nav-fixed-to">
            <div>
                <section class="nav-header">
                    <p><i class="iconfont icon-caidan" style=""></i><span>统计中心</span></p>
                </section>
                <section class="nav-content">
                    <p> <i class="iconfont icon-guanliyuan" style="margin-right: 4px;"></i><span>欢迎<strong>XX管理管理员</strong></span></p>
                </section>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="nav-slider">
                <li class="layui-nav-item">
                    <a href="/admin/">
                        <i class="layui-icon">&#xe68e;</i>首页
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/" class="">
                        <i  class="iconfont icon-permissions-user "></i>用户统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/promote/">
                        <i class="iconfont icon-xianlu"></i>推广统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/transport/">
                        <i class="iconfont icon-line"></i>运力统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/foods/">
                        <i class="iconfont icon-tongji"></i>货源统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/maps/">
                        <i class="iconfont icon-relitu"></i>热力图
                    </a>
                    <u></u>
                </li>
            </ul>
        </nav>
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-ai-password"></i>更改密码</h2>
                        <hr>
                    </div>
                    <div class="content-body">
                        <form action="" class="layui-form layui-form-pane">
                            <div class="layui-form-item" style="">
                                <label class="layui-form-label">填写原密码</label>
                                <div class="layui-input-inline" style="width: 600px;">
                                    <i class="layui-icon">&#xe673;</i>
                                    <input type="password" name="password" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item" style="display: block;width: 900px;">
                                <label class="layui-form-label">填写新密码</label>
                                <div class="layui-input-inline" style="width: 600px;">
                                    <i class="layui-icon">&#xe673;</i>
                                    <input type="password" name="password" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">请输入6位或6位以上新密码</div>
                            </div>
                            <div class="layui-form-item" style="display: block;width: 900px;">
                                <label class="layui-form-label">重复新密码</label>
                                <div class="layui-input-inline" style="width: 600px;">
                                    <i class="layui-icon">&#xe673;</i>
                                    <input type="password" name="password" placeholder="请重复输入新密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">请重复上方新密码</div>
                            </div>
                            <button class="layui-btn " style="margin-left: 360px;"><i class="iconfont icon-xiugai"></i>确认修改</button>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
    </article>
</article>
<script src="../static/js/libs/jquery-2.1.1.min.js"></script>
<script src="../static/js/libs/highcharts.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common/common.js"></script>
<script src="../static/js/password/password.js"></script>
</body>
</html>
