<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户权限管理-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=5.9">
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=5.9">
    <link rel="stylesheet" href="../static/css/common.css?v=5.9">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=5.9">
    <link rel="stylesheet" href="../static/css/promote/promote.css">
    <link rel="stylesheet" href="../static/css/root/root.css">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right" style="opacity: 1;">
            <div>
                <div class="m-c-l-content">
                    <div class="part-2">
                        <div class="part-2-top">
                            <h2><i class="iconfont icon-renqun"></i>城市经理管理</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="part-3">
                        <button class="layui-btn add-user" id="add_user"><i style="font-size:13px"
                                                                            class="iconfont icon-jiahao"></i>新增用户
                        </button>
                        <table class="layui-hide" id="root_table"></table>
                    </div>
                    <div class="river"></div>
                    <div class="part-4">
                        <div class="part-4-top">
                            <h2><i class="iconfont icon-renqun"></i>角色权限管理</h2>
                            <hr>
                        </div>
                        <button class="layui-btn add-user" id="add_user_city_manager"><i style="font-size:13px"
                                                                                         class="iconfont icon-jiahao"></i>新增角色
                        </button>
                        <div id="root_city_table"></div>
                    </div>
                </div>
            </div>
        </aside>
    </article>
    <!--下面的是弹窗部分，这个页面弹窗有点多(╯▽╰)-->
    <!--用户添加弹窗-->
    <div id="popup" style="display: none;">
        <form class="layui-form layui-form-pane" action="">
            <div style="display: block" class="layui-form-item">
                <label class="layui-form-label">人员账号</label>
                <div class="layui-input-block">
                    <input id="phone_number" type="text" maxLength="11" name="mobile" autocomplete="off"
                           placeholder="登陆账号" class="layui-input">
                </div>
            </div>
            <div style="display: block" class="layui-form-item">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-block">
                    <input id="user_name" type="text" maxLength="11" name="mobile" autocomplete="off"
                           placeholder="用户姓名" class="layui-input">
                </div>
            </div>
            <div style="display: block;" class="layui-form-item">
                <label class="layui-form-label">登陆密码</label>
                <div class="layui-input-block">
                    <input id="add_user_password" type="password" name="name" autocomplete="off"
                           placeholder="输入密码" class="layui-input">
                </div>
            </div>
            <div style="display: block;" class="layui-form-item">
                <label class="layui-form-label">角色id</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="role_id" autocomplete="off"
                           placeholder="没校验，输入与后台保存一致的id就行了" class="layui-input">
                </div>
            </div>
        </form>
        <button class="layui-btn" id="confirm_add">确定添加</button>
    </div>
    <!--用户编辑弹窗-->
    <div id="popup_one" style="display: none;">
        <form class="layui-form layui-form-pane" action="">
            <div style="display: block" class="layui-form-item">
                <label class="layui-form-label">人员姓名</label>
                <div class="layui-input-block">
                    <input id="name_edit" type="text" maxLength="11" name="mobile" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div style="display: block;" class="layui-form-item">
                <label class="layui-form-label">重置密码</label>
                <div class="layui-input-block">
                    <input id="password" type="password" name="name" autocomplete="off" placeholder="请输入密码"
                           class="layui-input">
                </div>
            </div>
            <div style="display: block;" class="layui-form-item">
                <label class="layui-form-label">角色id</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="user_id" autocomplete="off"
                           placeholder="目前只能写1,2,3,4,5,6" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                    <input type="radio" name="role" value="1" title="启用" checked="">
                    <input type="radio" name="role" value="2" title="禁用">
                </div>
            </div>
        </form>
        <button class="layui-btn" id="confirm_fix">确定修改</button>
    </div>
    {#上面是用户管理的添加，下面是角色的#}
    <!--角色编辑弹窗和添加的弹窗基本上一样-->
    <div id="popup_two" style="display: none;padding: 15px;">
       <form action="" class="layui-form" lay-filter="edit_root">
            <div class="layui-form-item">
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input id="role_name_edit" type="text" name="role" placeholder="角色的姓名" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色类型</label>
                        <div class="layui-input-block">
                            <input id="role_edit" type="text" name="role" placeholder="管理员1,合伙人2,网点管理员3,城市经理4 ,"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地区id</label>
                        <div class="layui-input-block">
                            <input id="area_edit" type="text" name="area" autocomplete="off" placeholder="请填写地区id"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">角色备注</label>
                        <div class="layui-input-block">
                            <textarea id="role_comment_edit" placeholder="想输就输，不想输就不输" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="edit-checkbox">

                    </div>
                    <div class="confirm-btn-box">
                        <button class="layui-btn" id="confirm_edit_root">确认添加</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--角色添加弹窗-->
    <div id="popup_three" style="display: none;padding: 15px;">
        <form action="" class="layui-form" lay-filter="add_root">
            <div class="layui-form-item">
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input id="role_name_add" type="text" name="role" placeholder="角色的姓名" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色类型</label>
                        <div class="layui-input-block">
                            <input id="role_add" type="text" name="role" placeholder="管理员1,合伙人2,网点管理员3,城市经理4 ,"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地区id</label>
                        <div class="layui-input-block">
                            <input id="area_add" type="text" name="area" autocomplete="off" placeholder="请填写地区id"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">角色备注</label>
                        <div class="layui-input-block">
                            <textarea id="role_comment_add" placeholder="想输就输，不想输就不输" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="checkbox">

                    </div>
                    <div class="confirm-btn-box">
                        <button class="layui-btn" id="confirm_add_root">确认添加</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</article>
<span style="display: none!important">
        <script src="https://s22.cnzz.com/z_stat.php?id=1274088436&web_id=1274088436" language="JavaScript"></script>
</span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=5.9"></script>
<script src="../static/js/libs/jquery.address.js?v=5.9"></script>
<script src="../static/layui/layui.js?v=5.9"></script>
<script src="../static/js/common/http.js?v=5.9"></script>
<script src="../static/js/common/common.js?v=5.9"></script>
<script src="../static/js/root/root.js?v=5.9"></script>
</body>
</html>

