<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热力图-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=2.4">
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=2.4">
    <link rel="stylesheet" href="../static/css/common.css?version=1.0.1">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=2.4">
    <link rel="stylesheet" href="../static/css/promote/promote.css?v=2.4">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-xiaoxi"></i>消息列表</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <div class="layui-collapse" lay-filter="message_list">
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">为什么JS社区大量采用未发布或者未广泛支持的语言特性？ <p
                                            class="layui-colla-title-child"><span>2018-12-22 10:10:10</span><i
                                            class="read-status orange">已读</i></p></div>
                                    <div class="layui-colla-content">
                                        <table style="margin: 2px 0" class="layui-table">
                                            <colgroup>
                                                <col width="150">
                                                <col width="150">
                                                <col width="200">
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>人物</th>
                                                <th>民族</th>
                                                <th>信息</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p>长期用车<br>联系电话：18003080630<br>装货-地址：广东省惠州市惠阳区凤凰岗<br>装货-经纬度：经度：114.292814，
                                                        纬度：22.972544<br></p>
                                                </td>
                                                <td>
                                                    <p>>卸货-地址：广东省东莞市东莞地区配货总仓<br>卸货-经纬度：经度：113.946502， 纬度：22.946311<br>用车类型：4米2/7米<br>体积重量：10吨
                                                    </p>
                                                </td>
                                                <td>
                                                    <p><br>用车量：5次<br>期望运费：200<br>装货时间段：下午<br>是否要发票：要<br>公司名称：惠州市华迪实业有限公司
                                                    </p>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">为什么前端工程师多不愿意用 Bootstrap 框架？<p
                                            class="layui-colla-title-child"><span>2018-12-22 10:10:10</span><i
                                            class="read-status red">未读</i></p></div>
                                    <div class="layui-colla-content">
                                        <table style="margin: 2px 0" class="layui-table">
                                            <colgroup>
                                                <col width="150">
                                                <col width="150">
                                                <col width="200">
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>人物</th>
                                                <th>民族</th>
                                                <th>信息</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p>长期用车<br>联系电话：18003080630<br>装货-地址：广东省惠州市惠阳区凤凰岗<br>装货-经纬度：经度：114.292814，
                                                        纬度：22.972544<br></p>
                                                </td>
                                                <td>
                                                    <p>>卸货-地址：广东省东莞市东莞地区配货总仓<br>卸货-经纬度：经度：113.946502， 纬度：22.946311<br>用车类型：4米2/7米<br>体积重量：10吨
                                                    </p>
                                                </td>
                                                <td>
                                                    <p><br>用车量：5次<br>期望运费：200<br>装货时间段：下午<br>是否要发票：要<br>公司名称：惠州市华迪实业有限公司
                                                    </p>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">layui 更适合哪些开发者？<p class="layui-colla-title-child">
                                        <span>2018-12-22 10:10:10</span><i class="read-status red">未读</i></p></div>
                                    <div class="layui-colla-content">
                                        <table style="margin: 2px 0" class="layui-table">
                                            <colgroup>
                                                <col width="150">
                                                <col width="150">
                                                <col width="200">
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>人物</th>
                                                <th>民族</th>
                                                <th>信息</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p>长期用车<br>联系电话：18003080630<br>装货-地址：广东省惠州市惠阳区凤凰岗<br>装货-经纬度：经度：114.292814，
                                                        纬度：22.972544<br></p>
                                                </td>
                                                <td>
                                                    <p>>卸货-地址：广东省东莞市东莞地区配货总仓<br>卸货-经纬度：经度：113.946502， 纬度：22.946311<br>用车类型：4米2/7米<br>体积重量：10吨
                                                    </p>
                                                </td>
                                                <td>
                                                    <p><br>用车量：5次<br>期望运费：200<br>装货时间段：下午<br>是否要发票：要<br>公司名称：惠州市华迪实业有限公司
                                                    </p>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title">贤心是男是女？<p class="layui-colla-title-child"><span>2018-12-22 10:10:10</span><i
                                            class="read-status orange">已读</i></p></div>
                                   <div class="layui-colla-content">
                                        <table style="margin: 2px 0" class="layui-table">
                                            <colgroup>
                                                <col width="150">
                                                <col width="150">
                                                <col width="200">
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>人物</th>
                                                <th>民族</th>
                                                <th>信息</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p>长期用车<br>联系电话：18003080630<br>装货-地址：广东省惠州市惠阳区凤凰岗<br>装货-经纬度：经度：114.292814，
                                                        纬度：22.972544<br></p>
                                                </td>
                                                <td>
                                                    <p>>卸货-地址：广东省东莞市东莞地区配货总仓<br>卸货-经纬度：经度：113.946502， 纬度：22.946311<br>用车类型：4米2/7米<br>体积重量：10吨
                                                    </p>
                                                </td>
                                                <td>
                                                    <p><br>用车量：5次<br>期望运费：200<br>装货时间段：下午<br>是否要发票：要<br>公司名称：惠州市华迪实业有限公司
                                                    </p>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!----------------------------------------------------->

    </article>
</article>
<span style="display: none!important">
      <script src="https://s95.cnzz.com/z_stat.php?id=1260774712&web_id=1260774712" language="JavaScript"></script>
</span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=2.4"></script>
<script src="../static/layui/layui.js?v=2.4"></script>
<script src="../static/js/common/common.js?v=2.4"></script>
<script src="../static/js/common/http.js?v=2.4"></script>
<script src="../static/js/message/message.js?v=2.4"></script>
</body>
</html>