.content-body .layui-input-inline{
    position: relative;
}
.content-body .layui-input-inline input{
    padding-left: 32px;
}
.content-body .layui-input-inline > i{
    position: absolute;
    color: #666;
    font-size: 20px;
    top: 10px;
    left: 8px;
}
.main-content .layui-form-pane .layui-form-label{
    line-height: 38px;
    height: 38px;
}

.main-content-right .layui-input {
    height: 38px;
    line-height: 38px;
}