<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流商机-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=5.8">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/common.css?v=5.8">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=5.8">
    <style>.part-2 .layui-form-item {
        width: 190px;
    }
    .layui-form-item .layui-input-inline{
        width: 110px;
    }
    .layui-form-item .layui-inline {
        margin-right: 0;
    }</style>
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <section class="main-content-right-header"><span>统计中心</span> / <span>数据统计</span> / <span>用户统计</span>
            </section>
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-qushi1"></i>物流商机</h2>
                        <hr>
                    </div>

                </div>
            </div>
        </aside>
    </article>
</article>
<span style="display: none!important">
        <script src="https://s22.cnzz.com/z_stat.php?id=1274088436&web_id=1274088436" language="JavaScript"></script>
</span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=5.8"></script>
<script src="../static/js/libs/highcharts.min.js?v=5.8"></script>
<script src="../static/js/libs/highcharts-exporting.js?v=5.8"></script>
<script src="../static/js/libs/jquery.address.js?v=5.8"></script>
<script src="../static/layui/layui.js?v=5.8"></script>
<script src="../static/js/common/http.js?v=5.8"></script>
<script src="../static/js/common/common.js?v=5.8"></script>
<script src="../static/js/user-statics/user-statistics.js?v=5.8"></script>
</body>
</html>