<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页-数据中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=1.2"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/common.css?v=1.2"/>
    <link rel="stylesheet" href="../static/css/iconfont.css?v=1.2"/>
    <link rel="stylesheet" href="../static/css/home/home.css?v=1.2"/>
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <section class="main-content-right-header">
                <ol class="clearfix">
                    <li><span>主页</span> /<span>区域统计</span> /<span>城市概况</span></li>
                </ol>
            </section>
            <div>
                <div class="m-c-l-content">
                    <div class="part-1">
                        <div class="part-1-bottom">
                            <ul class="clearfix" style="position: relative;"></ul>
                        </div>
                        <div class="part-2">
                            <div class="content-header">
                                <h2><i class="iconfont icon-cheliangguanli"></i>职位列表</h2>
                                <hr/>
                            </div>
                            <form id="select_box" lay-filter="resetForm" action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">职位名称</label>
                                        <div class="layui-input-inline">
                                            <input id="job_name" type="text" name="job_name" maxlength="11"
                                                   placeholder="请输入职位名称" lay-verify="required|job_name" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">地区</label>
                                        <div class="layui-input-inline">
                                            <input id="region" type="text" name="region_name" maxlength="11"
                                                   placeholder="请输入选择地区" lay-verify="required|region_name" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 184px">
                                        <label class="layui-form-label">发布时间范围</label>
                                        <div class="layui-input-inline" style="width: 104px">
                                            <select id="time_scale" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">一天以内</option>
                                                <option value="2">三天以内</option>
                                                <option value="3">七天以内</option>
                                                <option value="4">十五天以内</option>
                                                <option value="5">一个月以内</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button id="user_search_box" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <table class="layui-hide goods-table" id="LAY_table_goods" lay-filter="user"></table>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </article>
    <div class="popup" id="popup" style="display:none;">
        <!--<form class="layui-form layui-form-pane" action=""><div class="layui-form-item"><label class="layui-form-label" style="width: 130px;">筛选方式</label><div class="layui-input-block" style="margin-left: 130px;"><select disabled name="interest" lay-filter="interest"><option value="1" selected="">适应货源的车辆</option><option value="2">全部车辆</option></select></div></div>-->
        <p style="color: red;font-size: 12px;font-weight: 100;line-height: 24px;">
            注：接单线路的设置时间越靠前说明司机对该线路的期望值越高，建议结合设置时间和最后登录时间判断</p>
        <table id="demo" lay-filter="demo"></table>
    </div>
    <div class="popup-one" id="popup_one">
        <p style="color: red;font-size: 12px;font-weight: 100;line-height: 24px;">注：本表格展示车辆常驻地在提货地附近，且当前定位在提货地附近的车。</p>
        <table id="demo_one" lay-filter="demo_one">

        </table>
    </div>
</article>
<span style="display: none!important"><script src="https://s22.cnzz.com/z_stat.php?id=1274088436&amp;web_id=1274088436"
                                              language="JavaScript"></script></span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=1.2"></script>
<script src="../static/layui/layui.js?v=1.2"></script>
<script src="../static/js/common/http.js?v=1.2"></script>
<script src="../static/js/common/common.js?v=1.2"></script>
<script src="../static/js/libs/jquery.address.js?v=1.2"></script>
<script src="../static/js/home/home.js?v=1.2"></script>
</body>
</html>