<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推广统计-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=1.0.1">
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=1.0.1">
    <link rel="stylesheet" href="../static/css/common.css?v=1.0.1">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=1.0.1">
    <link rel="stylesheet" href="../static/css/promote/promote.css?v=1.0.1">
</head>
<body>
<article id="page_area" class="page-area clearfix">
     {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-tongji"></i>推广数据统计</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <ul class="periods">
                                    <li>
                                        <button class="active" value="2" id="day_methods">按日</button>
                                    </li>
                                    <li>
                                        <button value="3" id="week_methods">按周</button>
                                    </li>
                                    <li>
                                        <button value="4" id="month_methods">按月</button>
                                    </li>
                                </ul>
                                <div class="layui-form-item layui-item-spec" id="">
                                    <div class="layui-inline">

                                        <label class="layui-form-label">推广类型</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="is_actived" name="modules" lay-verify="required" lay-search=""  lay-filter='is_actived'>
                                                <option value="1">拉新</option>
                                                <option value="2">用户行为</option>
                                                <option value="3">金额</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="select_spec_one" class="layui-form-item select-spec area-select-options-setting">
                                    <div  class="layui-inline layui-item-spec" style="">
                                        <label class="layui-form-label">计算方式</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select class="select-reset"  name="modules" lay-verify="required">
                                                <option value="1">新增</option>
                                                <option value="2">累计</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                  <div id="select_spec_two"  class="layui-form-item  none">
                                    <div  class="layui-inline layui-item-spec" style="">
                                        <label class="layui-form-label">计算方式</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select class="select-reset"  name="modules" lay-verify="required">
                                                <option value="1">登陆</option>
                                                <option value="2">发货</option>
                                                <option value="3">接单</option>
                                                <option value="4">完成订单</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <div id="select_spec_three"  class="layui-form-item none">
                                    <div  class="layui-inline layui-item-spec" style="">
                                        <label class="layui-form-label">计算方式</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select class="select-reset"  name="" lay-verify="">
                                                <option value="1">货源总额</option>
                                                <option value="2">订单总额</option>
                                                <option value="3">实际完成总额</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style=""
                                                                              class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <div id="charts_container_one" style="height: 100%"></div>
                        </div>
                    </div>
                    <div class="part-2">
                        <form action="" class="layui-form layui-form-pane">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline" style="width: 172px">
                                    <input id="user_name" type="text" name="username" lay-verify="required"
                                           placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline" style="width: 172px">
                                        <input maxlength="11" id="phone_number" type="tel" name="phone" placeholder="请输入手机号"
                                               lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width: 250px;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">推荐角色</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <select id="is_referenced" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">货主</option>
                                            <option value="2">司机</option>
                                            <option value="3">物流公司</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">货源类型</label>
                                    <div class="layui-input-inline">
                                        <select id="goods_type" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部类型</option>
                                            <option value="1">同城</option>
                                            <option value="2">跨城议价</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">活跃</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <select id="is_active_select" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">活跃(每天登录)</option>
                                            <option value="2">一般活跃(1-3未登)</option>
                                            <option value="3">即将沉睡(4-10未登)</option>
                                            <option value="4">沉睡(10天以上未登)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="">
                                <div class="layui-inline">
                                    <label class="layui-form-label">提车贴</label>
                                    <div class="layui-input-inline" style="width: 172px;">
                                        <select id="is_car_sticker" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">有</option>
                                            <option value="2">无</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:240px ;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">注册日期</label>
                                    <div class="layui-input-block">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_three" name="date_three" autocomplete="off"
                                               lay-verify="date_show_three" class="layui-input" type="text">
                                        <span class="date-tips">请选择日期</span>
                                    </div>
                                </div>
                            </div>
                            <span style="display: inline-block;margin-top: 9px;">至</span>
                            <div class="layui-form-item" style="width:240px ;">
                                <div class="layui-inline">
                                    <div class="layui-input-block" style="margin-left: 10px;">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_four" name="date_four" autocomplete="off"
                                               lay-verify="date_show_four" class="layui-input" type="text">
                                        <span class="date-tips">请选择日期</span>
                                    </div>
                                </div>
                            </div>
                            <button id="user_search_box" style="position: relative;padding-left: 20px;"
                                    class="layui-btn"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                            </button>
                            <button id="add_promote_person" style="padding-left: 10px;margin-left:500px;"
                                    class="layui-btn"><i style="" class="layui-icon">&#xe614;</i> 新增推广人员
                            </button>
                        </form>
                        <table class="layui-hide" id="promote_table"></table>
                        <!--<table class="layui-table"
                               lay-data="{ height:332, url:'../static/js/user-statics/test.json', page:true, id:'idTest',even:true}"
                               lay-filter="demo">
                            <thead>
                            <tr>
                                <th lay-data="{field:'id', width:140, fixed: true}">ID</th>
                                <th lay-data="{field:'user_name', width:180}">用户名</th>
                                <th lay-data="{field:'mobile', width:180}">手机号</th>
                                <th lay-data="{field:'user_type', width:125}">推荐人数</th>
                                <th lay-data="{field:'role_auth', width:150}">发货数</th>
                                <th lay-data="{field:'experience', width:150}">完成数</th>
                                <th lay-data="{field:'classify', width:120}">货源金额</th>
                                <th lay-data="{field:'classify', width:120}">订单金额</th>
                                <th lay-data="{field:'wealth', width:120}">完成金额</th>
                                <th lay-data="{field:'score', width:180, fixed: 'right'}">下载渠道</th>
                                <th lay-data="{fixed: 'right', width:130, align:'center', toolbar: '#barDemo'}">操作</th>
                            </tr>
                            </thead>
                        </table>-->
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </aside>
    </article>
</article>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=1.0.1"></script>
<script src="../static/js/libs/highcharts.min.js?v=1.0.1"></script>
<script src="../static/js/libs/highcharts-exporting.js?v=1.0.1"></script>
<script src="../static/layui/layui.js?v=1.0.1"></script>
<script src="../static/js/common/common.js?v=1.0.1"></script>
<script src="../static/js/common/http.js?v=1.0.1"></script>
<script src="../static/js/promote/promote-statistics.js?v=1.0.1"></script>
</body>
</html>
