.layui-item-spec dl.layui-anim  {
    padding-top:0px;
    margin-top:4px;
}
.phone-number {
    display: inline-block;
    border: 1px solid #ccc;
    font-size:13px;
    padding:0 12px;
    line-height:32px;
    vertical-align: top;
}
#add_users {
    padding-left: 25px;
    font-size:12px;
    font-weight: normal;
    border:1px solid #ccc;
    line-height: 32px;
    border-left:none;
}
.icon-dianhua {
    position: absolute;
    color: #bbb;
    font-size:15px;
    left:86px;
    top:4px;
}
.layui-layer-btn{
    text-align: center;
}

.part-2 .layui-table-body .layui-table-cell {
    height: auto !important;
    line-height: 20px;
}
.area-select-options-setting{

}
.layui-form-spec {
    width: 220px!important;
}
.layui-form-spec1 {
    width: 262px !important;
}
.badge {
    display: inline-block;
    min-width: 14px;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}
.thead-tr {
    border-bottom: 2px solid #ccc;
}
.thead-tr > th{
    font-weight: bold;
}
.cancel-reason-types th,
.cancel-reason-types td {
    color: #000;
}
.cancel-reason-table {
    border:none !important;
    color: #000;
}
.table-no-data {
    color: #bbb;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 300%;
    display: block;
    text-align: center;
}
.table-order-count > span {
    background-color: #d9534f;
    padding: 2px 6px;
    color: #fff;
    border-radius: 2px;
}
