<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>价格统计-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=1.7">
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=1.7">
    <link rel="stylesheet" href="../static/css/common.css?version=1.0.1">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=1.7">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-dituleixianlu"></i>地域统计</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 180px;">
                                        <label class="layui-form-label">出发地</label>
                                        <div class="layui-input-block" style="margin-left: 54px;">
                                            <input placeholder="请输入出发地" id="start_address" name="start_address" autocomplete="off"
                                                   lay-verify="start_address" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 180px;">
                                        <label class="layui-form-label">目的地</label>
                                        <div class="layui-input-block" style="margin-left: 54px;">
                                            <input placeholder="请输入目的地" id="end_address" name="end_address" autocomplete="off"
                                                   lay-verify="end_address" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 160px;">
                                        <label class="layui-form-label">里程(KM)</label>
                                        <div class="layui-input-block" style="margin-left: 68px;">
                                            <input placeholder="输入公里数" id="min_mileage" name="min_mileage" autocomplete="off"
                                                   lay-verify="min_mileage" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <span class="margin-top:9px;">至</span>
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 112px;">
                                        <div class="layui-input-block" style="margin-left: 10px;">
                                            <input id="max_mileage" placeholder="输入公里数" name="max_mileage" autocomplete="off"
                                                   lay-verify="max_mileage" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special" >
                                    <div class="layui-inline " style="">
                                        <label class="layui-form-label">车型选择</label>
                                        <div class="layui-input-inline" style="width:112px;">
                                            <select  id="vehicle_type" name="modules" lay-verify="required" class="">
                                                <option value="小面包车">小面包车</option>
                                                <option value="中面包车">中面包车</option>
                                                <option value="小货车">小货车</option>
                                                <option value="4.2米">4.2米</option>
                                                <option value="6.8米">6.8米</option>
                                                <option value="7.6米">7.6米</option>
                                                <option value="9.6米">9.6米</option>
                                                <option value="13米">13米</option>
                                                <option value="17.5米">17.5米</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special  " id="">
                                    <div class="layui-inline " style="">
                                        <label class="layui-form-label">支付方式</label>
                                        <div class="layui-input-inline" style="width:112px;">
                                            <select id="pay_methods" name="modules" lay-verify="required">
                                                <option value="">全部支付</option>
                                                <option value="1">线上支付</option>
                                                <option value="2">线下支付</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 186px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_show_one" autocomplete="off"
                                                   lay-verify="date_show_one" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-special">
                                    <div class="layui-inline" style="width: 186px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>

                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="">
                            <div class="">
                                <div class="" style="height: 500px">
                                    <div id="charts_container"
                                         style="width: 100%;height: 100%;padding-right: 1%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </article>
</article>
<span style="display: none!important">
      <script src="https://s95.cnzz.com/z_stat.php?id=1260774712&web_id=1260774712" language="JavaScript"></script>
</span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=1.7"></script>
<script src="../static/js/libs/echarts.min.js?v=1.7" charset="UTF-8"></script>
<script src="../static/layui/layui.js?v=1.7"></script>
<script src="../static/js/libs/jquery.address.js"></script>
<script src="../static/js/common/common.js?v=1.7"></script>
<script src="../static/js/common/http.js?v=1.7"></script>
<script src="../static/js/price/price-statistics.js?v=1.7"></script>
</body>
</html>