.part-1-bottom > ul.clearfix > li {
    float: left;
    min-width: 420px;
    width: 32.8%;
    height: 280px;
    background: #fff;
    margin-right: 0.3%;
    box-shadow:  0 0 12px #ddd;
    padding-top: 4px;
    position: relative;
    margin-bottom: 0.3%;
    -webkit-border-radius: 1.4%;
    -moz-border-radius: 1.4%;
    border-radius: 1.4%;
}
.part-1-bottom > ul.clearfix > li >div {
    height: 100%;
}
.data-list-container0,
.data-list-container1,
.data-list-container2,
.data-list-container3,
.data-list-container4,
.data-list-container5,
.data-list-container6,
.data-list-container7,
.data-list-container8,
.data-list-container9,
.data-list-container10,
.data-list-container11,
.data-list-container12,
.data-list-container13{
    position: absolute;
    right: 16px;
    height: auto;
    width: auto;
    top: 64px;
}
.tip-show-set{
    display: block;
    width: auto;
    line-height: 20px;
    font-size: 12px;
    color: #009688;
    text-align: right;
}
.all_count,.all_count_1,
.all_count_ano,.all_count_ano_1{
    font-size: 12px;
    color: #009688;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
}
.m-c-l-content .content-header > h2 > i,
.m-c-l-content .part-2 > h2 > i{
    font-size: 20px;
    margin-right: 6px;
}
.layui-form-item {
    width: 230px;
}
