.main-content-right {
    opacity: 1;
}
#search_btn{
    vertical-align: top;
}
.part-3{
    padding-top: 0;
}
.date-tips-spec {
    width: 100%;
    left: 10px;
}
.part-2-top h2 {
       font-size: 15px;
    color: #333;
    font-weight: 600
}
.part-2-top h2 > i.iconfont {
    margin-right: 6px;
}
.charts-box {
    height: 500px;
    border: 1px solid #ddd;
    margin:0 8px;
    padding: 8px 0;
    padding-bottom: 0;
}