<style>
    .footer {
        height: 30px;
        line-height: 30px;
        background: #222d32;
        font-size: 12px;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .footer>p{
       background:none repeat scroll 0 0 rgba(0,0,0,.2)
    }
</style>
<footer class="footer">
    <p><a rel="nofollow" style="text-decoration: none;color: #fff;" target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备14034183号</a></p>
</footer>