<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户统计-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/common.css?version=1.0.0">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <style>.part-2 .layui-form-item {
        width: 234px;
    }
    .layui-form-item .layui-inline {
        margin-right: 0;
    }</style>
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <section class="main-content-right-header"><span>统计中心</span> / <span>数据统计</span> / <span>用户统计</span>
            </section>
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-qushi1"></i>用户变化趋势</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item" style="width: 230px;">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width: 230px;">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <ul class="periods" style="margin-right: 20px">
                                    <li>
                                        <button class="active" value="2" id="day_methods">按日</button>
                                    </li>
                                    <li>
                                        <button value="3" id="week_methods">按周</button>
                                    </li>
                                    <li>
                                        <button value="4" id="month_methods">按月</button>
                                    </li>
                                </ul>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 230px">

                                        <label class="layui-form-label">统计类型</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="user_type" name="modules" lay-verify="required" lay-search="">
                                                <option value="1">新增用户</option>
                                                <option value="2">累计用户</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:230px;">
                                    <div class="layui-inline" style="">
                                        <label class="layui-form-label">用户角色</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select id="role_type_first" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">货主</option>
                                                <option value="2">司机</option>
                                                <option value="3">物流公司</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:230px;">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属地区</label>
                                        <div id="city_manager_one" class="layui-input-inline" style="width:140px;display: none;">
                                            <select id="region_id" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部地区</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="super_manager_area" class="layui-input-inline"
                                             style="width:140px;display: none;">
                                            <input id="super_manager_area_select_zero" placeholder="请选择地区"
                                                   name="super_manager_area_select_zero" autocomplete="off"
                                                   lay-verify="super_manager_area_select_zero" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:230px;">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">是否认证</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select id="is_auth" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">认证</option>
                                                <option value="2">非认证</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style=""
                                                             class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <div id="charts_container_one" style="height: 100%"></div>
                            <div class="chart-tips">未查询到数据</div>
                        </div>
                        <div class="river"></div>
                    </div>
                    <div class="part-2">
                        <form action="" class="layui-form layui-form-pane">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                        <input id="user_name" type="text" name="username" lay-verify="required"
                                               placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline">
                                        <input id="phone_number" type="tel" name="phone" maxlength="11"
                                               placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">推荐人手机</label>
                                    <div class="layui-input-inline" style="width: 132px;">
                                        <input id="reference_mobile" type="tel" name="phone" maxlength="11"
                                               lay-verify="required|phone" placeholder="请输入推荐人手机" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">下载渠道</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <input id="download_ch" type="text" name="username" lay-verify="required"
                                               placeholder="请输入下载渠道" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">注册渠道</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <input id="register" type="text" name="username" lay-verify="required"
                                               placeholder="请输入注册渠道" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="">
                                <div class="layui-inline">
                                    <label class="layui-form-label">推荐注册</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <select id="is_referenced" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">有</option>
                                            <option value="2">无</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div  class="layui-inline">
                                    <label class="layui-form-label">常驻地</label>
                                    <div id="city_manager_two" class="layui-input-inline" style="display:none;">
                                        <select id="area_select" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部地区</option>
                                            {% for location in locations %}
                                            <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="super_manager_area_one" class="layui-input-inline"
                                         style="width:160px;display: none;">
                                        <input id="super_manager_area_select_one" placeholder="请选择地区"
                                               name="super_manager_area_select_one" autocomplete="off"
                                               lay-verify="super_manager_area_select_one" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">注册角色</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <select id="role_type" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">货主</option>
                                            <option value="2">司机</option>
                                            <option value="3">公司</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">认证角色</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <select id="role_auth" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">货主</option>
                                            <option value="2">司机</option>
                                            <option value="3">公司</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">是否活跃</label>
                                    <div class="layui-input-inline" style="width: 144px;">
                                        <select id="is_actived" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">活跃（每天登录）</option>
                                            <option value="2">一般（1-3天未登录）</option>
                                            <option value="3">即将沉睡（4-10天未登录）</option>
                                            <option value="4">沉睡（10天以上未登录）</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline" style="">
                                    <label class="layui-form-label">操作过</label>
                                    <div class="layui-input-inline">
                                        <select id="is_used" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">发布货源</option>
                                            <option value="2">接单</option>
                                            <option value="3">完成订单</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">贴车贴</label>
                                    <div class="layui-input-inline">
                                        <select id="is_car_sticker" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">有</option>
                                            <option value="2">无</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:216px;position: relative;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后登陆</label>
                                    <div class="layui-input-block">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_three" style="width:148px"  name="date_three" autocomplete="off"
                                               lay-verify="date_show_three" class="layui-input" type="text">
                                        <span class="date-tips" style="right: 72px;">请选择日期</span>
                                    </div>
                                </div>
                            </div>
                            <span style="display: inline-block;margin-top: 9px;">至</span>
                            <div class="layui-form-item" style="width:268px;position: relative;">
                                <div class="layui-inline">
                                    <div class="layui-input-block" style="margin-left: 3px;">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_four" name="date_four" autocomplete="off"
                                               lay-verify="date_show_four" class="layui-input" type="text">
                                        <span class="date-tips">请选择日期</span>
                                    </div>
                                </div>
                            </div>
                            <article style="width: auto;display: inline-block;">
                                <div class="layui-form-item" style="width:214px;position: relative;">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">注册日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input style="width: 146px;" id="date_show_five" name="date_five"
                                                   autocomplete="off" lay-verify="date_show_five" class="layui-input"
                                                   type="text">
                                            <span class="date-tips" style="width:80px;right: 54px;">请选择日期</span>
                                        </div>
                                    </div>

                                </div>
                                <span style="display: inline-block;margin-top: 9px;">至</span>
                                <div class="layui-form-item" style="width:268px;position: relative;">
                                    <div class="layui-inline">
                                        <div class="layui-input-block" style="margin-left: 3px;">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_six" name="date_six" autocomplete="off"
                                                   lay-verify="date_show_six" class="layui-input" type="text">
                                            <span class="date-tips">请选择日期</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <button id="user_search_box"
                                    style="position: relative;padding-left: 20px;margin-left: 54px;vertical-align: top"
                                    class="layui-btn "><i style="" class="iconfont icon-sousuo1"></i> 搜索
                            </button>
                        </form>
                        <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

                    </div>
                </div>
            </div>
        </aside>
    </article>
</article>
<span style="display: none!important">
        <script src="https://s95.cnzz.com/z_stat.php?id=1260774712&web_id=1260774712" language="JavaScript"></script>
</span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=1.0.1"></script>
<script src="../static/js/libs/highcharts.min.js?v=1.0.1"></script>
<script src="../static/js/libs/highcharts-exporting.js?v=1.0.1"></script>
<script src="../static/js/libs/jquery.address.js?v=1.0.1"></script>
<script src="../static/layui/layui.js?v=1.0.1"></script>
<script src="../static/js/common/common.js?version=1.0.3"></script>
<script src="../static/js/common/http.js?v=1.0.1"></script>
<script src="../static/js/user-statics/user-statistics.js?version=1.0.3"></script>
</body>
</html>