<nav class="main-content-left nav-fixed-to">
    <div>
        <section class="nav-content">
            <p>
                <img src="{{ avatar_url }}" alt="">
                <strong>{{ user_name }}</strong>
            </p>
        </section>
    </div>
    <ul class="layui-nav layui-nav-tree" lay-filter="nav-slider">
        <li class="layui-nav-item area-menu-about">
            <a class="first-menu-list" href="/admin/">
                <i class="iconfont icon-zhuye"></i>首页
            </a>
        </li>

    </ul>
</nav>