 <nav class="main-content-left nav-fixed-to">
            <div>
                <section class="nav-header">
                    <p><i class="iconfont icon-caidan" style=""></i><span>统计中心</span></p>
                </section>
                <section class="nav-content">
                    <p><i class="iconfont icon-guanliyuan"
                          style="margin-right: 4px;"></i><span>欢迎<strong>{{ user_name}}</strong></span></p>
                </section>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="nav-slider">
                <li class="layui-nav-item area-menu-about">
                    <a href="/admin/">
                        <i class="layui-icon">&#xe68e;</i>区域概况
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item user-menu-about">
                    <a href="/user/">
                        <i class="iconfont icon-permissions-user"></i>用户统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item promote-menu-about">
                    <a href="/promote/">
                        <i class="iconfont icon-xianlu"></i>推广统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item transport-menu-about">
                    <a href="/transport/">
                        <i class="iconfont icon-line"></i>运力统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item goods-menu-about">
                    <a href="/goods/">
                        <i class="iconfont icon-tongji"></i>货源统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item potential-menu-about">
                    <a href="/potential/">
                        <i class="iconfont icon-yincang"></i>潜在货源
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item order-menu-about">
                    <a href="/order/">
                        <i class="iconfont icon-dingdan"></i>订单统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item map-menu-about">
                    <a href="/map/">
                        <i class="iconfont icon-relitu"></i>热力图
                    </a>
                    <u></u>
                </li>
            </ul>
        </nav>