<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>error</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/exception/401.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div class="header">
	<h1>Smart error page</h1>
</div>
<div class="w3-main">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>4<img src="../static/images/confused.gif" alt="image">1</h2>
		<p>验证失败！！一个错误的请求发生在该页面.</p>

		<a href="/home/">返回首页</a>
	</div>
</div>
<div class="footer-w3l">
	<p>&copy; Copyright © 2018  All Rights Reserved  ／ 广州回头车信息科技有限公司版权所有 ／</p>
</div>

</body>
</html>