<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" type="text/css" href="../static/css/exception/500.css"  media="screen" />

<title>error</title>

</head>

<body>
	<div id="da-wrapper" class="fluid">
        <div id="da-content">
            <div class="da-container clearfix">
            	<div id="da-error-wrapper">
                   	<div id="da-error-pin"></div>
                    <div id="da-error-code">
                    	error <span>500</span>                    </div>

                	<h1 class="da-error-heading">哎哟喂！老板服务器出错了！</h1>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <p>你可以点击<a href="/home/" style="color: blue;">此处</a> 返回首页</p>
		<p class="copyright">Copyright © 2018  All Rights Reserved  ／ 广州回头车信息科技有限公司版权所有 ／ </p>
    </div>

</body>
</html>
