<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>区域概况-省省数据中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=3.0"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=3.0"/>
    <link rel="stylesheet" href="../static/css/common.css?v=3.0"/>
    <link rel="stylesheet" href="../static/css/iconfont.css?v=3.0"/>
    <link rel="stylesheet" href="../static/css/home/home.css?v=3.0"/>
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <section class="main-content-right-header">
                <ol class="clearfix">
                    <li><span>主页</span> /<span>区域统计</span> /<span>城市概况</span></li>
                </ol>
            </section>
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-yingkuipinghengfenxi"></i>供需平衡数据统计</h2>
                        <hr/>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date" class="layui-input" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item " id="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源类型</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="goods_price_types" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="1">议价</option>
                                                <option value="2">一口价</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-item-spec" id="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">距离类型</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="haul_dist" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部类型</option>
                                                <option value="1">同城</option>
                                                <option value="2">跨城</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属地区</label>
                                        <div id="city_manager_two" class="layui-input-inline"
                                             style="width:140px;display: none;">
                                            <select id="city_area" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部区域</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}</select>
                                        </div>
                                        <div id="super_manager_area_two" class="layui-input-inline"
                                             style="width:140px;display: none;">
                                            <input id="super_manager_area_zero" placeholder="请选择地区"
                                                   name="super_manager_area_zero" autocomplete="off"
                                                   lay-verify="super_manager_area_zero" class="layui-input"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn "><i style="" class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <ul class="clearfix" style="position: relative;"></ul>
                        </div>
                        <div class="river"></div>
                        <div class="part-2">
                            <form id="select_box" lay-filter="resetForm" action="" class="layui-form layui-form-pane">

                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货主手机</label>
                                        <div class="layui-input-inline">
                                            <input id="phone_number" type="tel" name="phone" maxlength="11"
                                                   placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源类型</label>
                                        <div class="layui-input-inline">
                                            <select id="goods_price_type" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部类型</option>
                                                <option value="1">议价</option>
                                                <option value="2">一口价</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">运输距离</label>
                                        <div class="layui-input-inline">
                                            <select id="goods_type" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部类型</option>
                                                <option value="1">同城</option>
                                                <option value="2">跨城</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">是否通话</label>
                                        <div class="layui-input-inline">
                                            <select id="is_called" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">是</option>
                                                <option value="2">否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">车长要求</label>
                                        <div class="layui-input-inline" style="">
                                            <select id="vehicle_length" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="小面包车">小面包车</option>
                                                <option value="中面包车">中面包车</option>
                                                <option value="小货车">小货车</option>
                                                <option value="4.2米">4.2米</option>
                                                <option value="5.2米">5.2米</option>
                                                <option value="6.8米">6.8米</option>
                                                <option value="7.6米">7.6米</option>
                                                <option value="9.6米">9.6米</option>
                                                <option value="13米">13米</option>
                                                <option value="17.5米">17.5米</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属地区</label>
                                        <div class="layui-input-inline" id="city_manager_area_one"
                                             style="display: none;">
                                            <select id="node_id" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}</select>
                                        </div>
                                        <div id="super_manager_area" class="layui-input-inline" style="display: none;">
                                            <input id="super_manager_area_one" name="super_manager_area_one"
                                                   autocomplete="off" lay-verify="super_manager_area_one"
                                                   class="layui-input" type="text" placeholder="请选择地区"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">特殊标签</label>
                                        <div class="layui-input-inline">
                                            <select id="spec_tag" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">新用户</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">是否加价</label>
                                        <div class="layui-input-inline" style="">
                                            <select id="is_addition" name="modules" lay-verify="required" lay-search="">
                                                <option value="">请选择</option>
                                                <option value="1">是</option>
                                                <option value="2">否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="user_search_box" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                                <p class="tips-paragraph">提示：跨省货源可不提供服务~</p>
                            </form>
                            <table class="layui-hide goods-table" id="LAY_table_goods" lay-filter="user"></table>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </article>
    <div class="popup" id="popup" style="display:none;">
        <!--<form class="layui-form layui-form-pane" action=""><div class="layui-form-item"><label class="layui-form-label" style="width: 130px;">筛选方式</label><div class="layui-input-block" style="margin-left: 130px;"><select disabled name="interest" lay-filter="interest"><option value="1" selected="">适应货源的车辆</option><option value="2">全部车辆</option></select></div></div>-->
        <p style="color: red;font-size: 12px;font-weight: 100;line-height: 24px;">
            注：接单线路的设置时间越靠前说明司机对该线路的期望值越高，建议结合设置时间和最后登录时间判断</p>
        <table id="demo" lay-filter="demo"></table>
    </div>
    <div class="popup-one" id="popup_one">
        <p style="color: red;font-size: 12px;font-weight: 100;line-height: 24px;">注：本表格展示车辆常驻地在提货地附近，且当前定位在提货地附近的车。</p>
        <table id="demo_one" lay-filter="demo_one">

        </table>
    </div>
</article>
<span style="display: none!important"><script src="https://s22.cnzz.com/z_stat.php?id=1274088436&amp;web_id=1274088436"
                                              language="JavaScript"></script></span>
<script src="../static/js/libs/jquery-2.1.1.min.js?v=3.0"></script>
<script type="text/javascript" src="../static/js/libs/echarts.min.js?v=3.0"></script>
<script src="../static/layui/layui.js?v=3.0"></script>
<script src="../static/js/common/http.js?v=3.0"></script>
<script src="../static/js/common/common.js?v=3.0"></script>
<script src="../static/js/libs/jquery.address.js?v=3.0"></script>
<script src="../static/js/home/home.js?v=3.0"></script>
</body>
</html>