<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>区域概况-省省数据中心</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/promote/promote.css">
    <link rel="stylesheet" href="../static/css/home/home.css">
</head>
<body>
<article id="page_area" class="page-area clearfix">
     {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-yingkuipinghengfenxi"></i>供需平衡数据统计</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-item-spec" id="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源类型</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="goods_types" name="modules" lay-verify="required" lay-search="">
                                                <option value="1">同城</option>
                                                <option value="3">跨城议价</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属地区</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select id="city_area" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部区域</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn "><i style=""
                                                              class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <ul class="clearfix" style="position: relative;">
                            </ul>
                        </div>
                        <div class="river"></div>
                        <div class="part-2">
                            <h2 style="font-size: 20px;font-weight: bold"><i class="iconfont icon-xuanzhuan"></i>待接单货源</h2>
                            <hr>
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源类型</label>
                                        <div class="layui-input-inline">
                                            <select id="goods_type" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部类型</option>
                                                <option value="1">同城</option>
                                                <option value="3">跨城议价</option>
                                                <option value="4">零担</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="layui-form-item" style="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">优先级</label>
                                        <div class="layui-input-inline" style="width: 174px;">
                                            <select id="priority" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">高</option>
                                                <option value="2">一般</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">是否通话</label>
                                        <div class="layui-input-inline">
                                            <select id="is_called" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">是</option>
                                                <option value="2">否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">车长要求</label>
                                        <div class="layui-input-inline" style="">
                                            <select id="vehicle_length" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="小面包车">小面包车</option>
                                                <option value="中面包车">中面包车</option>
                                                <option value="小货车">小货车</option>
                                                <option value="4.2米">4.2米</option>
                                                <option value="6.8米">6.8米</option>
                                                <option value="7.6米">7.6米</option>
                                                <option value="9.6米">9.6米</option>
                                                <option value="13米">13米</option>
                                                <option value="17米">17米</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属地区</label>
                                        <div class="layui-input-inline">
                                            <select id="node_id" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">特殊标签</label>
                                        <div class="layui-input-inline" style="width: 160px;">
                                            <select id="spec_tag" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">新用户</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">是否加价</label>
                                        <div class="layui-input-inline" style="">
                                            <select id="is_addition" name="modules" lay-verify="required" lay-search="">
                                                <option value="">请选择</option>
                                                <option value="1">是</option>
                                                <option value="2">否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="user_search_box" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <table class="layui-hide goods-table" id="LAY_table_goods" lay-filter="user"></table>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </article>
    <div class="popup" id="popup" style="display:none;">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 130px;">筛选方式</label>
                <div class="layui-input-block" style="margin-left: 130px;">
                    <select disabled name="interest" lay-filter="interest">
                        <option value="1" selected="">适应货源的车辆</option>
                        <option value="2">全部车辆</option>
                    </select>
                </div>
            </div>
        </form>
        <table id="demo" lay-filter="demo"></table>
    </div>
</article>
<script src="../static/js/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/libs/echarts.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common/common.js"></script>
<script src="../static/js/common/http.js"></script>
<script src="../static/js/libs/jquery.address.js"></script>
<script src="../static/js/home/home.js"></script>
</body>
</html>
