<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>货源统计</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/promote/promote.css">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    <header class="header nav-fixed-to clearfix">
        <section class="header-left">
            <a href="javascript:;">
                <img src="../static/images/Test/logo-icon.png" alt="">
            </a>
        </section>
        <section class="header-content">
            <div class="header-tips" style="margin-right: 6px;"></div>
            <div class="header-content-main clearfix">
                <p><i class="iconfont icon-rili"></i><span id="date_now"></span></p>
                <p><i class="iconfont icon-shijian"></i> <span id="hour_now"></span></p>
                <p><i class="iconfont icon-weathercock"></i><span id="weather_now"><u></u><u></u><u></u><u></u></span>
                </p>
            </div>
        </section>
        <section class="header-right">
            <div class="oneself-set">
                <img width="52" height="52" style="border-radius: 50%;border: 1px dotted #ccc;"
                     src="../static/images/Test/head-icon.gif" alt="">
                <div>
                    <b style="display: inline-block;margin-top:12px;margin-right:6px;color: #fff;">Hi,超级管理员</b>
                    <span id="show_hide" style="cursor:pointer;color: #fff;" class="layui-icon">&#xe61a;</span>
                    <ul class="dropdown-menu" style="display:none;">
                        <li><a href="/password/change-password.html"><i class="iconfont icon-shezhi1"></i> <span
                                style="border-left: 1px dashed #ccc;padding-left: 5px;">修改密码</span></a></li>
                        <li class="loginOut"><a href="#"><i class="iconfont icon-secede"></i> <span
                                style="border-left: 1px dashed #ccc; padding-left: 5px;">退出登陆</span></a></li>
                    </ul>
                    <span id="fullScreen" class="layui-btn"
                          style="background: none;border: 1px dashed #01AAED;color: #fff;"><i class="layui-icon">&#xe62e;</i><strong>开启全屏展示</strong></span>
                </div>
            </div>
        </section>
    </header>
    <article class="main-content">
        <nav class="main-content-left nav-fixed-to">
            <div>
                <section class="nav-header">
                    <p><i class="iconfont icon-caidan" style=""></i><span>省省数据统计中心</span></p>
                </section>
                <section class="nav-content">
                    <p><i class="iconfont icon-guanliyuan"
                          style="margin-right: 4px;"></i><span>欢迎<strong>XX管理管理员</strong></span></p>
                </section>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="nav-slider">
                <li class="layui-nav-item">
                    <a href="/admin/">
                        <i class="layui-icon">&#xe68e;</i>首页
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/" class="">
                        <i class="iconfont icon-permissions-user"></i>用户统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/promote/" class="">
                        <i class="iconfont icon-xianlu "></i>推广统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/transport/" class="">
                        <i class="iconfont icon-line"></i>运力统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/goods/" class="selected-active">
                        <i class="iconfont icon-tongji select-active"></i>货源统计
                    </a>
                    <u></u>
                </li>
                <li class="layui-nav-item">
                    <a href="/maps/">
                        <i class="iconfont icon-relitu"></i>热力图
                    </a>
                    <u></u>
                </li>
            </ul>
        </nav>
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header">
                        <h2><i class="iconfont icon-tubiao-loudoutu"></i>货源数据统计</h2>
                        <hr>
                    </div>
                    <div class="part-1">
                        <div class="part-1-top">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-item-spec" id="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="new_users" name="modules" lay-verify="required" lay-search="">
                                                <option value="1">全部</option>
                                                <option value="2">同城</option>
                                                <option value="3">跨城</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline layui-item-spec" style="">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="1">按数量</option>
                                                <option value="2">按金额</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部地区</option>
                                                <option value="1">天河</option>
                                                <option value="2">越秀</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn layui-btn-normal"><i style=""
                                                                              class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <div id="charts_container_one"
                                 style="float:left;min-width:900px;max-width:900px;height: 482px;border: 1px solid #ddd; background: #f5f5f5;"></div>
                            <div class="content-show">
                                <dl>
                                    <dt>潜在货源总数：<strong class="counter">9876</strong></dt>
                                    <dt>实际货源总数：<strong class="counter">7891</strong></dt>
                                    <dt>接单货源：<strong class="counter">5678</strong></dt>
                                </dl>
                                <ul>
                                    <h2><span class="counter">45.8</span>%</h2>
                                    <li>发货率</li>
                                </ul>
                            </div>
                            <div class="content-show">
                                <dl>
                                    <dt>潜在货源总数：<strong class="counter">9876</strong></dt>
                                    <dt>实际货源总数：<strong class="counter">7891</strong></dt>
                                    <dt>接单货源总数：<strong class="counter">5678</strong></dt>
                                </dl>
                                <ul>
                                    <h2><span class="counter">85.20</span>%</h2>
                                    <li>接单率</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="river"></div>
                    <div class="charts-area-two">
                        <div class="chart-area-two-header content-header">
                            <h2><i class="iconfont icon-qushi2"></i>货源分布趋势</h2>
                            <hr>
                        </div>
                        <div class="chart-area-two-body">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="start_date_one" name="start_date_one" autocomplete="off"
                                                   lay-verify="start_date_one" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="end_time_one" name="end_time_one" autocomplete="off"
                                                   lay-verify="start_date_one" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <button>按日</button>
                                    </li>
                                    <li>
                                        <button id="week_methods">按周</button>
                                    </li>
                                    <li>
                                        <button id="month_methods">按月</button>
                                    </li>
                                </ul>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 230px">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="new_users" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">同城</option>
                                                <option value="2">跨城</option>
                                                <option value="3">零担</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:252px;">
                                    <div class="layui-inline" style="">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部地区</option>
                                                <option value="1">天河区</option>
                                                <option value="2">越秀区</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="searchBox" style="position: relative;padding-left: 20px;"
                                        class="layui-btn layui-btn-normal"><i
                                        class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <div id="charts_container_two"></div>
                        </div>
                    </div>
                    <div class="river"></div>
                    <div class="charts-area-three">
                        <div class="charts-area-three-header content-header">
                            <h2><i class="iconfont icon-yifahuo"></i>发货/接单趋势</h2>
                            <hr>
                        </div>
                        <div class="chart-area-three-body">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="start_date_two" name="start_date_two" autocomplete="off"
                                                   lay-verify="start_date_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="end_time_two" name="end_time_two" autocomplete="off"
                                                   lay-verify="end_time_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <button>按日</button>
                                    </li>
                                    <li>
                                        <button id="goods_week_methods">按周</button>
                                    </li>
                                    <li>
                                        <button id="goods_month_methods">按月</button>
                                    </li>
                                </ul>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 230px">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="new_users" name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">同城</option>
                                                <option value="2">跨城</option>
                                                <option value="3">零担</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:252px;">
                                    <div class="layui-inline" style="">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部地区</option>
                                                <option value="1">天河区</option>
                                                <option value="2">越秀区</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="searchBox_2" style="position: relative;padding-left: 20px;"
                                        class="layui-btn layui-btn-normal"><i
                                        class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <div id="charts_container_three"></div>
                        </div>
                    </div>
                    <div class="charts-area-four">
                        <div class="chart-area-four-header content-header">
                            <h2><i class="layui-icon">&#xe609;</i>取消发货原因统计</h2>
                            <hr>
                        </div>
                        <div class="chart-area-four-body">
                            <form action="" class="layui-form layui-form-pane">
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="start_date_three" name="start_date_three" autocomplete="off"
                                                   lay-verify="start_date_three" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 210px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="end_time_three" name="end_time_three" autocomplete="off"
                                                   lay-verify="start_date_three" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <button>按日</button>
                                    </li>
                                    <li>
                                        <button id="goods_week_methods_2">按周</button>
                                    </li>
                                    <li>
                                        <button id="goods_month_methods_2">按月</button>
                                    </li>
                                </ul>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 230px">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width: 140px">
                                            <select id="cancel_reason_types" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部</option>
                                                <option value="1">同城</option>
                                                <option value="2">跨城</option>
                                                <option value="3">零担</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="width:252px;">
                                    <div class="layui-inline" style="">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:140px;">
                                            <select id="cancel_reason_area" name="modules" lay-verify="required"
                                                    lay-search="">
                                                <option value="">全部地区</option>
                                                <option value="1">天河区</option>
                                                <option value="2">越秀区</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="searchBox_3" style="position: relative;padding-left: 20px;"
                                        class="layui-btn layui-btn-normal"><i
                                        class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <div class="chart-area-four-body-bottom">
                                <div id="charts_container_four"></div>
                                <div class="chart-area-body-bottom-right">
                                    <table class="layui-table" lay-skin="line">
                                        <colgroup>
                                            <col width="300">
                                            <col width="300">
                                            <col width="300">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>人物</th>
                                            <th>民族</th>
                                            <th>比率</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>贤心</td>
                                            <td>汉族</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>张爱玲</td>
                                            <td>汉族</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>Helen Keller</td>
                                            <td>拉丁美裔</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>岳飞</td>
                                            <td>汉族</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>孟子</td>
                                            <td>华夏族（汉族）</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>孟子</td>
                                            <td>华夏族（汉族）</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>岳飞</td>
                                            <td>汉族</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>孟子</td>
                                            <td>华夏族（汉族）</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>孟子</td>
                                            <td>华夏族（汉族）</td>
                                            <th>比率</th>
                                        </tr>
                                        <tr>
                                            <td>岳飞</td>
                                            <td>汉族</td>
                                            <th>比率</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="part-2">
                        <form action="" class="layui-form layui-form-pane">
                            <div class="layui-form-item">
                                <label class="layui-form-label">货源ID</label>
                                <div class="layui-input-inline" style="width: 172px">
                                    <input id="user_name" type="text" name="username" lay-verify="required"
                                           placeholder="请输入货源ID" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">货主手机</label>
                                    <div class="layui-input-inline" style="width: 162px">
                                        <input id="phone_number" maxlength="11" type="tel" name="phone"
                                               placeholder="请输入手机号"
                                               lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">出发地</label>
                                    <div class="layui-input-inline" style="width: 172px">
                                        <input id="start_address_name" type="tel" name="phone" placeholder="请输入地名"
                                               lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">目的地</label>
                                    <div class="layui-input-inline" style="width: 172px">
                                        <input id="over_address_name" type="tel" name="phone" placeholder="请输入地名"
                                               lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">货源类型</label>
                                    <div class="layui-input-inline">
                                        <select id="foods_type" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部类型</option>
                                            <option value="1">同城</option>
                                            <option value="2">跨城定价</option>
                                            <option value="3">跨城议价</option>
                                            <option value="4">零担</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width: 250px;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">货源状态</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <select id="foods_status" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">待接单</option>
                                            <option value="2">已接单</option>
                                            <option value="3">已取消</option>
                                            <option value="4">已过期</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">是否通话</label>
                                    <div class="layui-input-inline">
                                        <select id="is_talking" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">车长要求</label>
                                    <div class="layui-input-inline" style="">
                                        <select id="vehicle_length" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">1.7m</option>
                                            <option value="2">2.7m</option>
                                            <option value="3">3m</option>
                                            <option value="4">4.2m</option>
                                            <option value="5">5.6m</option>
                                            <option value="6">6.8m</option>
                                            <option value="7">7.6m</option>
                                            <option value="8">8.6m</option>
                                            <option value="9">9.6m</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="">
                                <div class="layui-inline">
                                    <label class="layui-form-label">车型要求</label>
                                    <div class="layui-input-inline" style="width: 162px;">
                                        <select id="car_type" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">箱式尾板车</option>
                                            <option value="2">箱式高栏车</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="">
                                <div class="layui-inline">
                                    <label class="layui-form-label">所属网点</label>
                                    <div class="layui-input-inline" style="width: 158px;">
                                        <select id="belong_stipple" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">天河区</option>
                                            <option value="2">越秀区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="">
                                <div class="layui-inline">
                                    <label class="layui-form-label">初次下单</label>
                                    <div class="layui-input-inline" style="width: 160px;">
                                        <select id="is_first" name="modules" lay-verify="required" lay-search="">
                                            <option value="">全部</option>
                                            <option value="1">同城</option>
                                            <option value="2">跨城定价</option>
                                            <option value="3">跨城议价</option>
                                            <option value="4">零担</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:246px;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">急需处理</label>
                                    <div class="layui-input-inline" style="width: 146px;">
                                        <select id="is_fastly" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">小于5分钟</option>
                                            <option value="2">5分钟~10分钟</option>
                                            <option value="3">10分钟以上</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">是否加价</label>
                                    <div class="layui-input-inline" style="">
                                        <select id="is_add_price" name="modules" lay-verify="required" lay-search="">
                                            <option value="">请选择</option>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:242px ;">
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后登陆</label>
                                    <div class="layui-input-block">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_three" name="date_three" autocomplete="off"
                                               lay-verify="date_show_three" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <span style="display: inline-block;margin-top: 9px;">至</span>
                            <div class="layui-form-item" style="width:240px ;">
                                <div class="layui-inline">
                                    <div class="layui-input-block" style="margin-left: 10px;">
                                        <i class="layui-icon layui-icon-riqi"></i>
                                        <input id="date_show_four" name="date_four" autocomplete="off"
                                               lay-verify="date_show_four" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <button id="user_search_box" style="position: relative;padding-left: 20px;"
                                    class="layui-btn layui-btn-normal"><i style="" class="iconfont icon-sousuo1"></i> 搜索
                            </button>
                        </form>
                        <div class="dataTable">
                            <div class="layui-inline">
                                <input placeholder='输入用户名或手机号' maxlength="11" class="layui-input" name="id"
                                       id="demoReload"
                                       autocomplete="off">
                            </div>
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </div>
                        <table class="layui-hide goods-table" id="LAY_table_goods" lay-filter="user"></table>
                    </div>
                </div>
            </div>

        </aside>
    </article>
    <div class="popup" id="popup" style="display:none;">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 130px;">选择货源类型</label>
                <div class="layui-input-block" style="margin-left: 130px;">
                    <select name="interest" lay-filter="aihao">
                        <option value="0">全部货源</option>
                        <option value="1" selected="">适应货源</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>人物</th>
                    <th>民族</th>
                    <th>出场时间</th>
                    <th>格言</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>贤心</td>
                    <td>汉族</td>
                    <td>1989-10-14</td>
                    <td>人生似修行</td>
                </tr>
                <tr>
                    <td>张爱玲</td>
                    <td>汉族</td>
                    <td>1920-09-30</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                </tr>
                <tr>
                    <td>Helen Keller</td>
                    <td>拉丁美裔</td>
                    <td>1880-06-27</td>
                    <td> Life is either a daring adventure or nothing.</td>
                </tr>
                <tr>
                    <td>岳飞</td>
                    <td>汉族</td>
                    <td>1103-北宋崇宁二年</td>
                    <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                </tr>
                <tr>
                    <td>孟子</td>
                    <td>华夏族（汉族）</td>
                    <td>公元前-372年</td>
                    <td>猿强，则国强。国强，则猿更强！</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>
<script src="../static/js/libs/jquery-2.1.1.min.js"></script>
<script src="../static/js/libs/highcharts.min.js"></script>
<script src="../static/js/libs/highcharts-more.js"></script>
<script src="../static/js/libs/highcharts-final.js"></script>
<script src="../static/js/libs/highcharts-exporting.js"></script>
<script src="../static/js/libs/jquery.waypoints.min.js"></script>
<script src="../static/js/libs/jquery.countup.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common/common.js"></script>
<script src="../static/js/common/http.js"></script>
<script src="../static/js/libs/jquery.address.js"></script>
<script src="../static/js/goods/goods-statistics.js"></script>
</body>
</html>
<script>
    init();
    $('.counter').countUp();
</script>
