<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>货源统计-省省统计中心</title>
    <link rel="stylesheet" href="../static/css/base.css?v=5.9">
    <link rel="stylesheet" href="../static/layui/css/layui.css?v=5.9">
    <link rel="stylesheet" href="../static/css/common.css?v=5.9">
    <link rel="stylesheet" href="../static/css/iconfont.css?v=5.9">
    <link rel="stylesheet" href="../static/css/promote/promote.css?v=5.9">
</head>
<body>
<article id="page_area" class="page-area clearfix">
    {% include '/header/header.html' %}
    <article class="main-content">
        {% include '/menu/menu.html' %}
        <aside class="main-content-right">
            <div>
                <div class="m-c-l-content">
                    <div class="content-header" style="display: none;">
                        <h2><i class="iconfont icon-tubiao-loudoutu"></i>货源数据统计</h2>
                        <hr>
                    </div>
                    <div class="part-1" style="display:none;">
                        <div class="part-1-top">
                        <!--------------------------------------------------------------------->
                            <form action="" class="layui-form layui-form-pane">

                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 173px;">
                                        <label class="layui-form-label">开始日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_one" name="date_one" autocomplete="off"
                                                   lay-verify="date_show_one" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline" style="width: 173px;">
                                        <label class="layui-form-label">结束日期</label>
                                        <div class="layui-input-block">
                                            <i class="layui-icon layui-icon-riqi"></i>
                                            <input id="date_show_two" name="date_two" autocomplete="off"
                                                   lay-verify="date_show_two" class="layui-input" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-item-spec" id="">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width: 106px">
                                            <select id="new_users" name="modules" lay-verify="required" lay-search="">
                                                <option value="1">全部</option>
                                                <option value="2">同城</option>
                                                <option value="3">跨城</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline layui-item-spec" style="">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:106px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="1">按数量</option>
                                                <option value="2">按金额</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索选择</label>
                                        <div class="layui-input-inline" style="width:106px;">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="">全部地区</option>
                                                {% for location in locations %}
                                                <option value="{{ location['region_id'] }}">{{ location['name'] }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="search_btn" style="position: relative;padding-left: 20px;"
                                        class="layui-btn "><i style=""
                                                              class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                        </div>
                        <div class="part-1-bottom">
                            <div id="charts_container_one"
                                 style="float:left;min-width:600px;width: 48%;height: 482px;border: 1px dashed #ddd; background: #f5f5f5;"></div>
                            <div class="content-show">
                                <dl>
                                    <dt>潜在货源总数：<strong class="counter">9876</strong></dt>
                                    <dt>实际货源总数：<strong class="counter">7891</strong></dt>
                                    <dt>接单货源：<strong class="counter">5678</strong></dt>
                                </dl>
                                <ul>
                                    <h2><span class="counter">45.8</span>%</h2>
                                    <li>发货率</li>
                                </ul>
                            </div>
                            <div class="content-show">
                                <dl>
                                    <dt>潜在货源总数：<strong class="counter">9876</strong></dt>
                                    <dt>实际货源总数：<strong class="counter">7891</strong></dt>
                                    <dt>接单货源总数：<strong class="counter">5678</strong></dt>
                                </dl>
                                <ul>
                                    <h2><span class="counter">85.20</span>%</h2>
                                    <li>接单率</li>
                                </ul>
                            </div>
                        </div>
                    <!-------------------这些注释是漏斗图部分，app那边还有部分功能未实现，所以先不做---------------------------->
                    </div>
                    <div class="river"></div>

                    <div class="charts-area-four">
                        <div class="chart-area-four-header content-header">
                            <h2><i class="layui-icon">&#xe609;</i>全国职位数量概况</h2>
                            <hr>
                        </div>
                        <div class="chart-area-four-body">
                            <form action="" class="layui-form layui-form-pane">

                            <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">职位名称</label>
                                        <div class="layui-input-inline">
                                            <input id="search_name" type="text" name="job_name" maxlength="11"
                                                   placeholder="请输入职位名称" lay-verify="required|job_name" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <button id="searchBox_3" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i
                                        class="iconfont icon-sousuo1"></i> 搜索
                                </button>
                            </form>
                            <div class="chart-area-four-body-bottom">
                                <div id="charts_container_four"></div>
                                <div class="chart-area-body-bottom-right">
                                    <table class="layui-table cancel-reason-table" lay-skin="line">
                                        <colgroup>
                                            <col width="300">
                                            <col width="300">
                                            <col width="300">
                                        </colgroup>
                                        <thead>
                                        <tr class="thead-tr" style="color: #000;">
                                            <th>#</th>
                                            <th>地区名称</th>
                                            <th>职位数量</th>
                                            <th>所占比率</th>
                                        </tr>
                                        </thead>
                                        <tbody class="cancel-reason-types">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="charts-area-four">
                        <div class="chart-area-four-header content-header">
                            <h2><i class="layui-icon">&#xe609;</i>职位薪水概况</h2>
                            <hr>
                        </div>
                        <div class="chart-area-four-body">
                            <form action="" class="layui-form layui-form-pane">

                            <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">职位名称</label>
                                        <div class="layui-input-inline">
                                            <input id="salary_search_name" type="text" name="job_name" maxlength="11"
                                                   placeholder="请输入职位名称" lay-verify="required|job_name" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">地区名称</label>
                                        <div class="layui-input-inline">
                                            <input id="region_name" type="text" name="region_name" maxlength="11"
                                                   placeholder="请输入地区名称" lay-verify="required|region_name" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>

                                <button id="searchBox_4" style="position: relative;padding-left: 20px;"
                                        class="layui-btn"><i
                                        class="iconfont icon-sousuo1"></i> 搜索
                                </button>

                            </form>
                            <div class="chart-area-four-body-bottom">
                                <div id="charts_container_five"></div>
                                <div class="chart-area-body-bottom-right">
                                    <table class="layui-table cancel-reason-table" lay-skin="line">
                                        <colgroup>
                                            <col width="300">
                                            <col width="300">
                                            <col width="300">
                                        </colgroup>
                                        <thead>
                                        <tr class="thead-tr" style="color: #000;">
                                            <th>#</th>
                                            <th>薪水范围</th>
                                            <th>职位数量</th>
                                            <th>所占比率</th>
                                        </tr>
                                        </thead>
                                        <tbody class="cancel-reason-types_two">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </aside>
    </article>
</article>

<script src="../static/js/libs/jquery-2.1.1.min.js?v=5.9"></script>
<script src="../static/js/libs/highcharts.min.js?v=5.9"></script>
<script src="../static/js/libs/highcharts-more.js?v=5.9"></script>
<script src="../static/js/libs/highcharts-final.js?v=5.9"></script>
<script src="../static/js/libs/highcharts-exporting.js?v=5.9"></script>
<script src="../static/layui/layui.js?v=5.9"></script>
<script src="../static/js/common/http.js?v=5.9"></script>
<script src="../static/js/common/common.js?v=5.9"></script>
<script src="../static/js/libs/jquery.address.js?v=5.9"></script>
<script src="../static/js/goods/goods-statistics.js?v=5.9"></script>
<span style="display: none!important">
        <script src="https://s22.cnzz.com/z_stat.php?id=1274088436&web_id=1274088436" language="JavaScript"></script>
</span>
</body>
</html>
<script>
    init();
  //  $('.counter').countUp();
</script>

